name: Update translate assets

on:
  pull_request:
    types:
      - closed
    paths:
      - 'package.json'
      - 'pnpm-lock.yaml'

jobs:
  update:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Download language.json
        run: |
          mkdir -p assets/data
          curl -sS https://api.translate.zvo.cn/language.json -o assets/data/language.json
      - name: Copy translate.js
        run: pnpm cp
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_user_name: Cell[bot]
          commit_user_email: lrhx@users.noreply.github.com
          commit_author: Cell[bot] <lrhx@users.noreply.github.com>
          commit_message: 'chore: sync translate assets'
